extends layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/activity/postEdit")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") Name
					.col-sm-10
						input#inputTitle.form-control(type="text",name="name",value="#{doc}.name}")
				.form-group
					label.col-sm-2.control-label(for="inpuId") ID
					.col-sm-10
						input#inputTitle.form-control(type="text",name="id",value="#{doc.id}")
				.form-group
					label.col-sm-2.control-label(for="inputTime") TIME
					.col-sm-10
						input#inputTitle.form-control(type="text",name="time",value="#{doc.time}")
				.form-group
					label.col-sm-2.control-label(for="inputType") Type
					.col-sm-10
						input#inputTitle.form-control(type="text",name="type",value="#{doc.type}")
				button.btn.btn-primary(type="submit") submit
	
				button.btn.btn-danger(type="button") cancel

